<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autohome.frostmourne.monitor.dao.mybatis.frostmourne.mapper.AlarmLogMapper">
  <resultMap id="BaseResultMap" type="com.autohome.frostmourne.monitor.dao.mybatis.frostmourne.domain.AlarmLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="alarm_id" jdbcType="BIGINT" property="alarmId" />
    <result column="exe_start" jdbcType="TIMESTAMP" property="exeStart" />
    <result column="exe_end" jdbcType="TIMESTAMP" property="exeEnd" />
    <result column="cost" jdbcType="INTEGER" property="cost" />
    <result column="execute_result" jdbcType="VARCHAR" property="executeResult" />
    <result column="verify_result" jdbcType="VARCHAR" property="verifyResult" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.autohome.frostmourne.monitor.dao.mybatis.frostmourne.domain.AlarmLog">
    <result column="message" jdbcType="LONGVARCHAR" property="message" />
  </resultMap>
  <sql id="Base_Column_List">
    id, alarm_id, exe_start, exe_end, cost, execute_result, verify_result, create_at
  </sql>
  <sql id="Blob_Column_List">
    message
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from alarm_log
    where id = #{id,jdbcType=BIGINT}
  </select>
</mapper>