<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autohome.frostmourne.monitor.dao.mybatis.frostmourne.mapper.DataSourceMapper">
  <resultMap id="BaseResultMap" type="com.autohome.frostmourne.monitor.dao.mybatis.frostmourne.domain.DataSource">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="datasource_name" jdbcType="VARCHAR" property="datasourceName" />
    <result column="datasource_type" jdbcType="VARCHAR" property="datasourceType" />
    <result column="service_address" jdbcType="VARCHAR" property="serviceAddress" />
    <result column="properties" jdbcType="VARCHAR" property="properties" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="modify_at" jdbcType="TIMESTAMP" property="modifyAt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, datasource_name, datasource_type, service_address, properties, creator, create_at, 
    modifier, modify_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from data_source
    where id = #{id,jdbcType=BIGINT}
  </select>
</mapper>