<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autohome.frostmourne.monitor.dao.mybatis.frostmourne.mapper.MetricMapper">
  <resultMap id="BaseResultMap" type="com.autohome.frostmourne.monitor.dao.mybatis.frostmourne.domain.Metric">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="aggregation_type" jdbcType="VARCHAR" property="aggregationType" />
    <result column="aggregation_field" jdbcType="VARCHAR" property="aggregationField" />
    <result column="metric_type" jdbcType="VARCHAR" property="metricType" />
    <result column="alarm_id" jdbcType="BIGINT" property="alarmId" />
    <result column="rule_id" jdbcType="BIGINT" property="ruleId" />
    <result column="data_source_id" jdbcType="BIGINT" property="dataSourceId" />
    <result column="data_name_id" jdbcType="BIGINT" property="dataNameId" />
    <result column="data_name" jdbcType="VARCHAR" property="dataName" />
    <result column="query_string" jdbcType="VARCHAR" property="queryString" />
    <result column="post_data" jdbcType="VARCHAR" property="postData" />
    <result column="properties" jdbcType="VARCHAR" property="properties" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, aggregation_type, aggregation_field, metric_type, alarm_id, rule_id, data_source_id, 
    data_name_id, data_name, query_string, post_data, properties, creator, create_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from metric
    where id = #{id,jdbcType=BIGINT}
  </select>
</mapper>