<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.autohome.frostmourne.monitor.dao.mybatis.frostmourne.mapper.MetricMapper" >
  <resultMap id="BaseResultMap" type="com.autohome.frostmourne.monitor.dao.mybatis.frostmourne.domain.Metric" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="aggregation_type" property="aggregation_type" jdbcType="VARCHAR" />
    <result column="aggregation_field" property="aggregation_field" jdbcType="VARCHAR" />
    <result column="metric_type" property="metric_type" jdbcType="VARCHAR" />
    <result column="alarm_id" property="alarm_id" jdbcType="BIGINT" />
    <result column="rule_id" property="rule_id" jdbcType="BIGINT" />
    <result column="data_source_id" property="data_source_id" jdbcType="BIGINT" />
    <result column="data_name_id" property="data_name_id" jdbcType="BIGINT" />
    <result column="data_name" property="data_name" jdbcType="VARCHAR" />
    <result column="query_string" property="query_string" jdbcType="VARCHAR" />
    <result column="properties" property="properties" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="create_at" property="create_at" jdbcType="TIMESTAMP" />
    <result column="post_data" property="post_data" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, aggregation_type, aggregation_field, metric_type, alarm_id, rule_id, data_source_id, 
    data_name_id, data_name, query_string, properties, creator, create_at, post_data
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from metric
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from metric
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.autohome.frostmourne.monitor.dao.mybatis.frostmourne.domain.Metric" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into metric (aggregation_type, aggregation_field, 
      metric_type, alarm_id, rule_id, 
      data_source_id, data_name_id, data_name, 
      query_string, properties, creator, 
      create_at, post_data)
    values (#{aggregation_type,jdbcType=VARCHAR}, #{aggregation_field,jdbcType=VARCHAR}, 
      #{metric_type,jdbcType=VARCHAR}, #{alarm_id,jdbcType=BIGINT}, #{rule_id,jdbcType=BIGINT}, 
      #{data_source_id,jdbcType=BIGINT}, #{data_name_id,jdbcType=BIGINT}, #{data_name,jdbcType=VARCHAR}, 
      #{query_string,jdbcType=VARCHAR}, #{properties,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{create_at,jdbcType=TIMESTAMP}, #{post_data,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.autohome.frostmourne.monitor.dao.mybatis.frostmourne.domain.Metric" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into metric
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="aggregation_type != null" >
        aggregation_type,
      </if>
      <if test="aggregation_field != null" >
        aggregation_field,
      </if>
      <if test="metric_type != null" >
        metric_type,
      </if>
      <if test="alarm_id != null" >
        alarm_id,
      </if>
      <if test="rule_id != null" >
        rule_id,
      </if>
      <if test="data_source_id != null" >
        data_source_id,
      </if>
      <if test="data_name_id != null" >
        data_name_id,
      </if>
      <if test="data_name != null" >
        data_name,
      </if>
      <if test="query_string != null" >
        query_string,
      </if>
      <if test="properties != null" >
        properties,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="create_at != null" >
        create_at,
      </if>
      <if test="post_data != null" >
        post_data,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="aggregation_type != null" >
        #{aggregation_type,jdbcType=VARCHAR},
      </if>
      <if test="aggregation_field != null" >
        #{aggregation_field,jdbcType=VARCHAR},
      </if>
      <if test="metric_type != null" >
        #{metric_type,jdbcType=VARCHAR},
      </if>
      <if test="alarm_id != null" >
        #{alarm_id,jdbcType=BIGINT},
      </if>
      <if test="rule_id != null" >
        #{rule_id,jdbcType=BIGINT},
      </if>
      <if test="data_source_id != null" >
        #{data_source_id,jdbcType=BIGINT},
      </if>
      <if test="data_name_id != null" >
        #{data_name_id,jdbcType=BIGINT},
      </if>
      <if test="data_name != null" >
        #{data_name,jdbcType=VARCHAR},
      </if>
      <if test="query_string != null" >
        #{query_string,jdbcType=VARCHAR},
      </if>
      <if test="properties != null" >
        #{properties,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="create_at != null" >
        #{create_at,jdbcType=TIMESTAMP},
      </if>
      <if test="post_data != null" >
        #{post_data,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.autohome.frostmourne.monitor.dao.mybatis.frostmourne.domain.Metric" >
    update metric
    <set >
      <if test="aggregation_type != null" >
        aggregation_type = #{aggregation_type,jdbcType=VARCHAR},
      </if>
      <if test="aggregation_field != null" >
        aggregation_field = #{aggregation_field,jdbcType=VARCHAR},
      </if>
      <if test="metric_type != null" >
        metric_type = #{metric_type,jdbcType=VARCHAR},
      </if>
      <if test="alarm_id != null" >
        alarm_id = #{alarm_id,jdbcType=BIGINT},
      </if>
      <if test="rule_id != null" >
        rule_id = #{rule_id,jdbcType=BIGINT},
      </if>
      <if test="data_source_id != null" >
        data_source_id = #{data_source_id,jdbcType=BIGINT},
      </if>
      <if test="data_name_id != null" >
        data_name_id = #{data_name_id,jdbcType=BIGINT},
      </if>
      <if test="data_name != null" >
        data_name = #{data_name,jdbcType=VARCHAR},
      </if>
      <if test="query_string != null" >
        query_string = #{query_string,jdbcType=VARCHAR},
      </if>
      <if test="properties != null" >
        properties = #{properties,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="create_at != null" >
        create_at = #{create_at,jdbcType=TIMESTAMP},
      </if>
      <if test="post_data != null" >
        post_data = #{post_data,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.autohome.frostmourne.monitor.dao.mybatis.frostmourne.domain.Metric" >
    update metric
    set aggregation_type = #{aggregation_type,jdbcType=VARCHAR},
      aggregation_field = #{aggregation_field,jdbcType=VARCHAR},
      metric_type = #{metric_type,jdbcType=VARCHAR},
      alarm_id = #{alarm_id,jdbcType=BIGINT},
      rule_id = #{rule_id,jdbcType=BIGINT},
      data_source_id = #{data_source_id,jdbcType=BIGINT},
      data_name_id = #{data_name_id,jdbcType=BIGINT},
      data_name = #{data_name,jdbcType=VARCHAR},
      query_string = #{query_string,jdbcType=VARCHAR},
      properties = #{properties,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      create_at = #{create_at,jdbcType=TIMESTAMP},
      post_data = #{post_data,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>