<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autohome.frostmourne.monitor.dao.mybatis.frostmourne.mapper.RecipientMapper">
  <resultMap id="BaseResultMap" type="com.autohome.frostmourne.monitor.dao.mybatis.frostmourne.domain.Recipient">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="alarm_id" jdbcType="BIGINT" property="alarmId" />
    <result column="alert_id" jdbcType="BIGINT" property="alertId" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, alarm_id, alert_id, account, create_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from recipient
    where id = #{id,jdbcType=BIGINT}
  </select>
</mapper>