<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.autohome.frostmourne.monitor.dao.mybatis.frostmourne.mapper.RulePropertyMapper" >
  <resultMap id="BaseResultMap" type="com.autohome.frostmourne.monitor.dao.mybatis.frostmourne.domain.RuleProperty" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="alarm_id" property="alarm_id" jdbcType="BIGINT" />
    <result column="rule_id" property="rule_id" jdbcType="BIGINT" />
    <result column="prop_key" property="prop_key" jdbcType="VARCHAR" />
    <result column="prop_value" property="prop_value" jdbcType="VARCHAR" />
    <result column="creator" property="creator" jdbcType="VARCHAR" />
    <result column="create_at" property="create_at" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, alarm_id, rule_id, prop_key, prop_value, creator, create_at
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from rule_property
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from rule_property
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.autohome.frostmourne.monitor.dao.mybatis.frostmourne.domain.RuleProperty" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into rule_property (alarm_id, rule_id, prop_key, 
      prop_value, creator, create_at
      )
    values (#{alarm_id,jdbcType=BIGINT}, #{rule_id,jdbcType=BIGINT}, #{prop_key,jdbcType=VARCHAR}, 
      #{prop_value,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, #{create_at,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.autohome.frostmourne.monitor.dao.mybatis.frostmourne.domain.RuleProperty" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into rule_property
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="alarm_id != null" >
        alarm_id,
      </if>
      <if test="rule_id != null" >
        rule_id,
      </if>
      <if test="prop_key != null" >
        prop_key,
      </if>
      <if test="prop_value != null" >
        prop_value,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="create_at != null" >
        create_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="alarm_id != null" >
        #{alarm_id,jdbcType=BIGINT},
      </if>
      <if test="rule_id != null" >
        #{rule_id,jdbcType=BIGINT},
      </if>
      <if test="prop_key != null" >
        #{prop_key,jdbcType=VARCHAR},
      </if>
      <if test="prop_value != null" >
        #{prop_value,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="create_at != null" >
        #{create_at,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.autohome.frostmourne.monitor.dao.mybatis.frostmourne.domain.RuleProperty" >
    update rule_property
    <set >
      <if test="alarm_id != null" >
        alarm_id = #{alarm_id,jdbcType=BIGINT},
      </if>
      <if test="rule_id != null" >
        rule_id = #{rule_id,jdbcType=BIGINT},
      </if>
      <if test="prop_key != null" >
        prop_key = #{prop_key,jdbcType=VARCHAR},
      </if>
      <if test="prop_value != null" >
        prop_value = #{prop_value,jdbcType=VARCHAR},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="create_at != null" >
        create_at = #{create_at,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.autohome.frostmourne.monitor.dao.mybatis.frostmourne.domain.RuleProperty" >
    update rule_property
    set alarm_id = #{alarm_id,jdbcType=BIGINT},
      rule_id = #{rule_id,jdbcType=BIGINT},
      prop_key = #{prop_key,jdbcType=VARCHAR},
      prop_value = #{prop_value,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      create_at = #{create_at,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>