<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autohome.frostmourne.monitor.dao.mybatis.frostmourne.mapper.RulePropertyMapper">
  <resultMap id="BaseResultMap" type="com.autohome.frostmourne.monitor.dao.mybatis.frostmourne.domain.RuleProperty">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="alarm_id" jdbcType="BIGINT" property="alarmId" />
    <result column="rule_id" jdbcType="BIGINT" property="ruleId" />
    <result column="prop_key" jdbcType="VARCHAR" property="propKey" />
    <result column="prop_value" jdbcType="VARCHAR" property="propValue" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, alarm_id, rule_id, prop_key, prop_value, creator, create_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rule_property
    where id = #{id,jdbcType=BIGINT}
  </select>
</mapper>