<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.autohome.frostmourne.monitor.dao.mybatis.frostmourne.mapper.AlarmLogMapper" >
  <select id="aggregation" resultType="com.autohome.frostmourne.monitor.dao.mybatis.frostmourne.domain.AggregationDate">
      SELECT from_days(to_days(create_at)) AS `date`, COUNT(0) AS `count`
      FROM alarm_log
      WHERE create_at BETWEEN #{startTime} AND #{endTime}
      <if test="verifyResult != null and verifyResult != ''">
          AND verify_result = #{verifyResult}
      </if>
      GROUP BY from_days(to_days(create_at))
  </select>
</mapper>