<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.autohome.frostmourne.monitor.dao.mybatis.frostmourne.mapper.DataSourceMapper" >
  <select id="find" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM data_source
    WHERE 1=1
    <if test="datasourceType != null and datasourceType != ''">
        AND datasource_type = #{datasourceType}
    </if>
    ORDER BY create_at DESC
  </select>

  <select id="findByIdList" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List"/>
    FROM data_source
    WHERE id IN
    <foreach
          collection="idList"
          item="id"
          open="("
          separator=","
          close=")">
    #{id}
    </foreach>
  </select>
</mapper>