<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.autohome.frostmourne.monitor.dao.mybatis.frostmourne.mapper.RecipientMapper" >
  <delete id="deleteByAlarm">
    DELETE FROM recipient WHERE alarm_id=#{alarmId}
  </delete>

  <select id="findByAlarm" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
    FROM recipient
    WHERE alarm_id=#{alarmId}
  </select>
</mapper>