# http://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

[pom.xml]
indent_size = 4

[*.pom]
indent_size = 4

[*.md]
insert_final_newline = false
trim_trailing_whitespace = false
